body {
    background-color: #15023a;
}

section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: rgb(5, 197, 197);
    font-size: 30pt;
}

.container {
    padding: 2%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: rgb(176, 250, 250);
    min-height: 75vh;
}

label {
    font-size: 15pt;
    font-weight: 700;
    color: slategrey;
    font-style: italic;
}

input, textarea {
    width: 95%;
    padding: 1.4%;
    font-size: 12pt;
    border: 1px solid rgba(120, 120, 120, 0.4);
}

textarea {
    min-width: 95%;
    max-width: 95%;
}

button {
    padding: 1.5%;
    font-size: 12pt;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(18, 93, 155);
    color: cyan;
    transition: 0.7s;
}

button:hover {
    transition: 0.7s;
    width: 98%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 2%;
    font-size: 14pt;
    background-color: rgb(8, 47, 80);
}

#status {
    text-align: center;
    padding: 2%;
    position: fixed;
    margin-top: -640px;
    color: white;
    font-size: 15pt;
    font-weight: 700;
}

#status.success {
    background-color: limegreen;
}

#status.error {
    background-color: red;
}